body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /*background-color: blue;*/
  background-image: url('../images/background.jpg');
font-family: 'Monoton', cursive;
color: white;
font-size: 45px
}
nav {
  font-size: 35px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: 'Monoton', cursive;
  border: 5px solid white;
  margin-bottom: 25px;
  border-radius: 15px;
  background-color: white;
position: sticky;
}

.text_nav{
  text-decoration: none;
  color: rgb(232, 152, 152);


}

.text_nav:hover {
  text-decoration: none;
  color: white;
  background-color: rgb(232, 152, 152);
  border: 1px solid rgb(232, 152, 152);
  border-radius: 15px;

}

.text_nav:active {
  color: rgb(38, 48, 43);

}

.gallery img {
  border: 6px solid white;
  border-radius:15px;
  height: 400px;
  margin: 25px;
}
.gallery {
  border: 5px solid white;
  padding: 25px;
  margin: 25px;
  border-radius: 25px;
display: flex;
flex-wrap: wrap;
background-color: white;
width: 800px;

}
.dscp {
font-family: 'Encode Sans Condensed', sans-serif;
border: 4px solid white;
color: white;
background-color: rgb(232, 152, 152);
width: 200px;
height:2%;
font-size: 30px;
border-radius: 15px;
}
.before {
  font-family: 'Encode Sans Condensed', sans-serif;
font-size: 40px;
border: 4px solid white;
background-color: rgb(38, 48, 43);
width: 600px;
border-radius: 15px;
}
.trivia {
  font-family: 'Encode Sans Condensed', sans-serif;
border: 4px solid white;
background-color: rgb(232, 152, 152);
border-radius: 15px;
}
.title_title {
  border: 3px solid white;
  border-radius: 25px;
  background-color: white;
  color: rgb(38, 48, 43);
  font-weight: bold;
  font-size: 50px;
  width: 600px;
}
.family {
  font-family: 'Encode Sans Condensed', sans-serif;
color: white;
border: 2px solid white;
background-color: rgb(38, 48, 43);
border-radius: 15px;

}
.info {
  font-family: 'Encode Sans Condensed', sans-serif;

  border: 3px solid white;
  border-radius: 25px;
  background-color: rgb(232, 152, 152);
  color:white;
  font-weight: bold;
  font-size: 50px;
  width: 600px;

}

.volume {
font-weight: bold;
border: 2px solid white;
width: 400px;
border-radius:  25px;
color: rgb(232, 152, 152);
background-color: white;

}
.Portfolio{
  border: 5px solid white;
  background-color: white;
  width: 700px;
  color: rgb(38, 48, 43);
  border-radius: 25px;
}

.sza_1{
  border: 8px solid white;
  border-radius: 60px;
  width: 55%;
  height: 500px;
}

.Portfolio img {
  border: 6px solid white;
  border-radius:15px;
  /*height: 200px;*/
  margin: 25px;
}
.sza_a{
      width: 90%;
    }
.description_port {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size: 30px;
  border: 4px solid white;
  background-color: rgb(38, 48, 43);
  color: white;
  border-radius: 25px;
  width: 600px;

}

.butterfly {
  position:relative;
	margin-top:8%;
	width:400px;
	transform:rotate(-20deg);
}
.butterfly > div {position:absolute;}
.butterfly img {width:100%;}

.leftwing {
  animation:flap-l 4s cubic-bezier(.08,1.47,.65,-0.68) infinite;
}
.rightwing {
  animation:flap-r 4s cubic-bezier(.08,1.47,.65,-0.68) infinite;
}
.leftwing, .rightwing {z-index:1;}

@keyframes flap-l {
			0% {transform:rotateY(0);}
			50% {transform:rotateY(80deg);}
			100% {transform:rotateY(0);}
}
@keyframes flap-r {
			0% {transform:rotateY(0); }
			50% {transform:rotateY(-80deg);}
			100% {transform:rotateY(0);}
}
.sza_b {
  width: 90%;
}
.sza_name {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size: 30px;
  border: 4px solid white;
  background-color: rgb(232, 152, 152);
  color: white;
  border-radius: 25px;
  width: 600px;


}
.f_symbol {
  height: 55px;
}
.e_symbol {
  height: 55px;
}
.i_symbol {
  height: 55px;
}
.quote {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size: 30px;
  border: 4px solid white;
  background-color: rgb(38, 48, 43);
  color: white;
  border-radius: 25px;
  width: 600px;
font-weight: bold;
}
.before {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size: 30px;
  border: 4px solid white;
  background-color: rgb(232, 152, 152);
  color: white;
  border-radius: 25px;
  width: 600px;
font-weight: bold;


}
.bread {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size: 30px;
  border: 4px solid white;
  background-color: rgb(38, 48, 43);
  color: white;
  border-radius: 25px;
  width: 600px;
font-weight: bold;


}
.sza_d{
  width: 600px;
}
.sza_f {
  width: 600px;

}
.sza_g {
  width: 600px;
}
.sza_h {
  width: 600px;
}
.albums_ {
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 0%;
  margin: 0%;
}
.sza_h1 {
  text-shadow:  10px 10px rgb(167, 105, 0);
}
.sza_more {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size: 30px;
  border: 4px solid white;
  background-color: rgb(232, 152, 152);
  color: white;
  border-radius: 25px;
  width: 600px;
font-weight: bold;


}
